<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> </title>
    </head>

    <body>
        <div class="center jumbotron">
        <br><h2>About</h2><br>

        <h4>Descripción</h4>

        <h5>Una aplicación Rails nueva con 1 controlador y 4 páginas
        estáticas. Con las siguientes características:
        </h5>

        <h5>* La aplicación esta alojada en GitHub como repositorio remoto
        utilizando la cuenta persona (<a href="https://github.com/MrFoxxz/App_1">https://github.com/MrFoxxz/App_1</a>).
        </h5>

        <h5>* En producción utilizando Heroku y puede
        ser accedida a través de internet como un subdominio de Heroku (<a href="https://apps-1-mrfoxxz.herokuapp.com/">https://apps-1-mrfoxxz.herokuapp.com/</a>).
        </h5>

        <h5>* El subdominio de Heroku es personalizado.</h5><br>

        <a href="/">Back to Home Page</a>
        </div>
    </body>
</html>