<% provide(:title, "Basics") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> </title>
    </head>

    <body>
        <h1>Basics</h1><br>

        <h4>¿Qué es un resource en el contexto de una aplicación web REST
        en Ruby on Rails?</h4>
        <p>Un recurso es el término usado para una colección de objetos similares, como artículos, personas o animales. Puedes crear, leer, actualizar y eliminar objetos para un recurso y estas operaciones son referidas como operaciones CRUD</p>
        <p>Rails incluye un método llamado resources que puedes utilizar para declarar un recurso REST estándar.</p>

        <h4>¿Qué puede hacerse con un resource?</h4>
        

        <h4>¿Qué es RESTful routing?</h4>
        <p></p><br>
        
        <h4>¿Cuántas acciones básicas tiene esta filosofía? ¿Cuáles son?</h4>
        <p>Se apoya en los métodos básicos de HTTP, como son:<br><br>

        Post: Para crear recursos nuevos.<br>
        Get: Para obtener un lichado o un recurso en concreto.<br>
        Put: Para modificar.<br>
        Patch: Para modificar un recurso que no es un recurso de un dato, por ejemplo.<br>
        Delete: Para borrar un recurso, un dato por ejemplo de nuestra base de datos.<br>
    </p><br>

        <a href="/">Back to Home Page</a>
    </body>
</html>