<% provide(:title, "Basics") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> </title>
    </head>

    <body>
        <div class="center jumbotron">
            <br><h2 class="titulo">Basics</h2><br>

            <h3>¿Qué es un resource en el contexto de una aplicación web REST
            en Ruby on Rails?</h4>
                <p>Un "resource" o recurso es el término usado para una colección de objetos similares, como titulos, nombres o datos. 
                Puedes crear, leer, actualizar y eliminar objetos para un recurso y estas operaciones son referidas como operaciones CRUD</h3>
                <p>Rails incluye un método llamado resources que puedes utilizar para declarar un recurso REST estándar.</p>

            <h3>¿Qué puede hacerse con un resource?</h3>
                <p>Es un recurso que podemos utilizar para ahorrarnos lineas de codigo y seguir el principio "Don't Repeat Yourself" 
                (DRY o No te repitas).</p>

            <h3>¿Qué es RESTful routing?</h3>
                <p> RESTful routing es un estándar usado en muchos lenguajes de programación para crear rutas eficcientes y reusables y apunta a los metodos HTTP(GET, POST,PATCH, DELETE) y las acciones CRUD(Create, Read, Update, Delete).<br><br>
                Haciendo facil para otros desarrolladores entender y navegar la aplicación de una manera limpia y consistente.<br> <a href="https://www.youtube.com/watch?v=JD6VNRdGl98">Aqui lo explican en 5 minutos!</a></p>
                
            <h3>¿Cuántas acciones básicas tiene esta filosofía? ¿Cuáles son?</h3>

                <p>Esta filosofía cuenta con 7 acciones basicas., como son:<br>            
                    Index<br>  
                    Show<br>  
                    New<br>  
                    Create<br>  
                    Edit<br>  
                    Update<br>  
                    Destroy<br>  
                </p>

            <h3>¿Cuales verbos HTTP se utilizan en cada una de ellas?</h3>
                <p>
                Index -> GET<br>
                New -> GET<br>
                Create -> POST<br>
                Show -> GET<br>
                Edit -> GET<br>
                Update -> PATCH<br>
                Destroy -> DELETE<br>
            </p>
           
            <a href="/">Back to Home Page</a>
        </div>
    </body>
</html>