<% provide(:title, "Basics") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> </title>
    </head>

    <body>
        <h1>Basics</h1><br>

        <h4>¿Qué es un resource en el contexto de una aplicación web REST
        en Ruby on Rails?</h4>
        <p></p>

        <h4>¿Qué puede hacerse con un resource?</h4>
        <p></p>

        <h4>¿Qué es RESTful routing?</h4>
        <p></p>

        <h4>¿Cuántas acciones básicas tiene esta filosofía? ¿Cuáles son?</h4>
        <p></p><br>

        <a href="/">Back to Home Page</a>
    </body>
</html>