<% provide(:title, "Basics") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> </title>
    </head>

    <body>
        <div class="center jumbotron">
            <br><h2>Basics</h2><br>

            <h4>¿Qué es un resource en el contexto de una aplicación web REST
            en Ruby on Rails?</h4>
            <h5>Un "resource" o recurso es el término usado para una colección de objetos similares, como titulos, nombres o datos. 
            Puedes crear, leer, actualizar y eliminar objetos para un recurso y estas operaciones son referidas como operaciones CRUD</h5>
            <h5>Rails incluye un método llamado resources que puedes utilizar para declarar un recurso REST estándar.</h5><br>

            <h4>¿Qué puede hacerse con un resource?</h4>
            <h5>Es un recurso que podemos utilizar para ahorrarnos lineas de codigo y seguir el principio "Don't Repeat Yourself" 
            (DRY o No te repitas).</h5><br>

            <h4>¿Qué es RESTful routing?</h4>
            <h5> Primero definamos REST! es una serie de instruciones y recomendacions como se puede construir un api, es una arquitectura de diseño
            de Apis cuando aplicamos REST para crear una AIP entonces eso seria una RESTful <a href="https://www.youtube.com/watch?v=JD6VNRdGl98">Aqui lo explican en 5 minutos!</a></h5><br>
            
            <h4>¿Cuántas acciones básicas tiene esta filosofía? ¿Cuáles son?</h4>

            <h5>Se apoya en los métodos básicos de HTTP, determinan el objetivo del requerimiento, como son:<br>

            Post: Para crear recursos nuevos.<br>
            Get: Para obtener una info o un recurso en concreto.<br>
            Put: Para modificar.<br>
            Patch: Para modificar un recurso que no es un recurso de un dato.<br>
            Delete: Para borrar un recurso, un dato por ejemplo de nuestra base de datos.<br>
            </h5>
            <h5>Una direccion URI<br>
            <h5>La informacion del servidor necesaria para los requerimienteos<br>
            <h5>la informacion puede mostrarse en formato JSON o XML<br><br><br>

            <a href="/">Back to Home Page</a>
        </div>
    </body>
</html>