<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> </title>
    </head>

    <body>
        <h1>Help</h1>

        <h4>Sobre las páginas:</h4>

        <p>* El home contiene links hacia las otras 3 páginas estáticas y la fecha y hora actual.</p>

        <p>* La página estática 1 es accedida a través del path "/basics" (<a href="/app/basics">AQUI</a>) y responde las siguientes preguntas:</p>

        <p>
        • ¿Qué es un resource en el contexto de una aplicación web REST
        en Ruby on Rails?<br>
        • ¿Qué puede hacerse con un resource?<br>
        • ¿Qué es RESTful routing?<br>
        • ¿Cuántas acciones básicas tiene esta filosofía?<br>
        • ¿Cuáles son?<br></p>

        <a href="/">Back to Home Page</a>
    </body>
</html>