<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> </title>
    </head>

    <body>
        <div class="center jumbotron">
            <br><h2>Help</h2><br>

            <h4>Sobre las páginas:</h4>

            <h5>* El home contiene links hacia las otras 3 páginas estáticas y la fecha y hora actual.</h5>

            <h5>* La página estática 1 es accedida a través del path "/basics" (<a href="/app/basics">AQUI</a>) y responde las siguientes preguntas:</h5>

            <h5>
            • ¿Qué es un resource en el contexto de una aplicación web REST
            en Ruby on Rails?<br>
            • ¿Qué puede hacerse con un resource?<br>
            • ¿Qué es RESTful routing?<br>
            • ¿Cuántas acciones básicas tiene esta filosofía?<br>
            • ¿Cuáles son?<br></h5>

            <a href="/">Back to Home Page</a>
        </div>
    </body>
</html>