<% provide(:title, "Home") %>
<!DOCTYPE html>

<html>
    <head>
        <title> <%= yield(:title) %> </title>
    </head> 

    <body>
        <div class="center jumbotron" >
            <br><h2 class="titulo">Home</h2><br>
            
            <div class="imgcontainer">
                <h4>This is the home page</h4>
                <img alt="Rails logo" width="200px" src="https://cdn.learnenough.com/kitten.jpg">
                <p>Esta pagina es genial tiene un gato y todo!</p>
            </div>
        </div>
    </body>
</html>