<% provide(:title, "Home") %>
<!DOCTYPE html>

<html>
    <head>
        <title> <%= yield(:title) %> </title>
    </head> 

    <body>
        <div class="center jumbotron" >
            <br><h2>Home</h2><br>
            <h4>This is the home page</h4>

            <img alt="Rails logo" width="200px" src="https://cdn.learnenough.com/kitten.jpg">
            
            <h5>Esta pagina es genial tiene un gato y todo!</h5>

        </div>
    </body>
</html>