<% provide(:title, "Home") %>
<!DOCTYPE html>

<html>
    <head>
        <title> <%= yield(:title) %> </title>
    </head> 

    <body>

        <h1>Home</h1>
        <h3>This is the home page</h3>

        <img alt="Rails logo" width="200px" src="https://cdn.learnenough.com/kitten.jpg">
        
        <p>links:</p>
        <a href="/app/basics">Basics</a> <br>
        <a href="/app/about">About</a> <br>
        <a href="/app/help">Help</a> <br>
        <a href="/app/testing">Testing</a>

    </body>
</html>